.App {
  text-align: center;
}

.main {
  background-color: #434854;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoDiv {
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
}

.videoDiv video {
  z-index: 0;
}

.videoDiv canvas {
  position: absolute;
  z-index: 1;
}

.main span {
  position: absolute;
  top: 10px;
  color: white;
  font-size: large;
}
